<launch>
  
  <node name="ros_imresize_depth" pkg="ros_imresize" type="ros_imresize" output="screen" >

    <param name="info_topic" value="/top_right_rgbd_camera_2/depth_to_rgb/camera_info" />
    <param name="image_topic" value="/top_right_rgbd_camera_2/depth_to_rgb/image_raw" />
    <param name="fps" value="30" />


    <param name="resize" value="true" />
    <param name="resize_width" value="640" />
    <param name="resize_height" value="480" />

    <param name="save_camera_info" value="false" />
    <param name="desired_path" value="/catkin_ws/src/visp_megapose/params/camera.json" />

    <param name="convert_encoding" value="false" />

    <param name="undistort" value="false" />

  </node>

</launch>